html,
body {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto";
}

/* SECTION TOP HEADER */
#top-header  {
    height: 5%;
    color: #0E2245;
    display: flex;
    padding: 16px;
}

#top-header div {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#logo-nome {
    font-weight: bold;
    font-size: 50px;
}

#profile-container {
    width: 100%;
    display: flex;
    justify-content: flex-end !important;
}

#top-header-profile {
    margin: 8px;
    border: 2px solid #0E2245;
    border-radius: 16px;
    cursor: pointer;
    padding: 16px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.50));
}

/* SECTION MAP */
#map-dashboard {
    display: grid;
    grid-template-columns: 1fr;
    height: 90%;
}

#map-aside-content {
    overflow: auto;
    padding: 16px;
    display: none;
    border-radius: 0px 16px 16px 0px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.50);
    z-index: 999;
}

#school-list-content {
    display: flex;
    flex-direction: column;
}

#school-list-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#school-list-content-header img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: rotate(45deg);
}

#marker-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin: 8px;
    padding: 12px;
}

#marker-item h3 {
    margin: 0;
}

#marker-item span {
    color: gray;
}

#marker-item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#marker-item-buttons button {
    cursor: pointer;
    background-color: #4C75B8;
    padding: 8px 16px;
    margin: 8px 4px;
    width: 150px;
    border: none;
    border-radius: 8px;
    color: white;
}

#marker-form-data {
    display: flex;
    flex-direction: column;
}

#marker-form-data h3 {
    text-align: center;
}

#marker-form-data h4 {
    margin-bottom: 0;
}

#marker-form-data-lnglat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#marker-form-data-lnglat div {
    margin: 8px 4px 8px 0;
}

#marker-form-data-lnglat p {
    margin: auto;
}

#marker-form-data label {
    margin: 8px 0;
}

#marker-form-data input {
    padding: 8px;
    border-radius: 4px;
}

#marker-form-data-save {
    padding: 16px;
    border-radius: 8px;
    background-color: #168821;
    border: none;
    color: white;
    margin: 16px 16px 4px 16px;
    cursor: pointer;
}

#marker-form-data-cancel {
    padding: 16px;
    border-radius: 8px;
    border: 3px solid #E60000;
    background-color: white;
    color: #E60000;
    cursor: pointer;
    margin: 4px 16px 16px 16px;
}

#map {
    display: fixed;
    min-height: 500px;
    
}

#see-marker-list {
    height: 25px;
    width: 25px;
    z-index: 999;
    margin: 16px;
    background-color: white;
    padding: 8px;
    position: fixed;
    top: 100px;
    cursor: pointer;
    border: 2px solid #0E2245;
    border-radius: 16px;
}

#see-marker-list:hover {
    background-color: #CFE0FF;
}

#add-on-map {
    height: 25px;
    width: 25px;
    z-index: 999;
    margin: 16px;
    background-color: white;
    padding: 8px;
    position: fixed;
    top: 150px;
    cursor: pointer;
    border: 2px solid #0E2245;
    border-radius: 16px;
}

#add-on-map:hover {
    background-color: #CFE0FF;
}

#info-add-marker {
    width: 100%;
    opacity: 0.8;
    display: none;
    position: absolute;
    bottom: 16px;
    text-align: center;
    padding: 16px;
    font-size: 30px;
    background-color: #0e2245d8;
    color: white;
    z-index: 999;   
}